<div class="section info">
<br>
  <h3 class="light">Some hosting services turn off your apps...</h3>
    <div class="divider"></div>
  <br>

  <h1 class="indigo-text center italics"> App Fast keeps them up and running</h1>

  <br>
  <br>

  <h3>We ping your site regularly to keeep it fast and notify you when it goes down.</h3>
  <br>
  <br>
  <div class="section center">
    <a href="#login-modal" class="modal-trigger btn btn-large">I want Fast</a>
  </div>
</div>
