<body style="padding: 0px;margin: 0px;font-family: arial, verdana, sans-serif;font-size: 12px;line-height: 1.5em; color:black;">
      <center>
        <table width="700" style="font-size: 12px;line-height: 1.5em;">
          <h1><%= @title %></h1>
          <tr style="font-size: 12px;line-height: 1.5em;">
            <td style="font-size: 12px;line-height: 1.5em;">
              <div id="header" style="font-size: 14px;line-height: 1.5em;width: 700px;margin: 0 auto; text-align:center;">

              </div>

              <br>
            </td>
          </tr>
        </table>
        <table width="450" style="font-size: 12px;line-height: 1.5em; text-align:center;">
          <tr style="font-size: 14px;line-height: 1.5em;">


            <h2> <%= @info %> <%= @info2 %></h2>
              <h3>Click <a href="http://keepmyappfast.com">here</a> to get started</h3>
          </tr>

            <td style="font-size: 12px;line-height: 1.5em;">
              <div id="wrapper" style="font-size: 12px;line-height: 1.5em;width: 450px;margin: 0 auto;">
