<div class="space"></div>
<div class="section">
<div class="row hide-on-small-only light blue-grey lighten-5">
  <div class="col s8 m3">
    User Name
  </div>
  <div class="col s4 m4">
    User Email
  </div>
  <div class="col s8 m2">
    User Id
  </div>
  <div class="col m2">
    Site amount
  </div>
  <div class="col m1">
    Remove
  </div>
</div>

</div>
<%= render 'layouts/users' %>
