  <div class="space"></div>
  <%= render 'layouts/sites_new' %>
  <div class="section">
    <div class = "row">
      <div class ="col m10 col s12 large">
        Hi, <%= current_user.email %>
      </div>
      <br>
      <div class ="col m2 s10">
        <a href="#new" class=" modal-trigger btn waves-effect waves-light grey darken-4"><i class="fa fa-plus"></i> Add Site</a>
      </div>
    </div>
      <div class="space"></div>
    <div class="divider"></div>
    <%= render 'layouts/sites' %>
  </div>
