  <%= render 'layouts/sites_new' %>
  <div class="section">
    <div class = "row">
      <div class ="col m10 col s12">
        <h2 class="indigo-text indigo-darken-4 truncate"> Hi, <%= current_user.email %></h2>
      </div>
    </div>
        <div class="row">
          <p class="flow-text col m6">
              Add sites to monitor their activity
          </p>
          <div class ="col s10">
            <a href="#new" class=" modal-trigger btn waves-effect waves-light grey darken-4"><i class="fa fa-plus"></i> Add Site</a>
          </div>
        </div>

      <div class="space"></div>


    <!-- <div class="divider"></div> -->
    <div id="sites"><%= render 'layouts/sites' %></div>
  </div>
  <div class="row">
        <!-- <div class="col">checking for updates in <span id="time"></span> minutes</div> -->
  </div>
