<div id="login-modal" class="modal">
  <div class="modal-content">
    <h2>Login</h2>

      <!-- <div class="row">
        <h5 class="light indigo-text lighten-5-text col m11 offset-m1">Make sure to use the same provider every time as to not create duplicate accounts.</h5>
      </div> -->

      <div class="row">

          <a href="/auth/google" class=" red darken-4 waves-effect waves-green btn btn-large col m4 s12 offset-m1"><i class="fa fa-google-plus"></i>&nbsp&nbsp Google</a>&nbsp
          <a href="/auth/facebook" class=" indigo darken-3 waves-effect waves-green btn btn-large col m4 s12 offset-m2"><i class="fa fa-facebook"></i> Facebook</a>


      </div>


  </div>
  <div class="modal-footer center">
    <h6 class="italic light">keep My App Fast does not store your password, and will never access, post, or view anything  on your account.</h6>
  </div>
</div>
