<div class="navbar-fixed">
   <nav class="blue-grey darken-4">
     <div class="nav-wrapper container">
       <div class="left">
         <a class="brand-logo" href="/"><i class="fa fa-fighter-jet"> App Fast</i></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse">Menu</a>
        </div>

        <ul class="right hide-on-med-and-down">
          <li>
            <a href=""><i class="fa fa-money material-icons left"></i> Donate</a>
          </li>
         <% if current_user %>
           <li>
             <a href="/sites"><i class="fa fa-globe material-icons left"></i> Sites</a>
           </li>
           <li>
             <a rel="nofollow" data-method="delete" href="/logout"><i class="fa fa-sign-out material-icons left"></i> Log Out</a>
           </li>
         <% else %>
            <li>
              <a href="#login-modal" class="modal-trigger">Login</a>
            </li>
         <% end %>
        </ul>

        <ul class="side-nav" id="mobile-demo">
          <li>
            <a href="" class="fa fa-money"> Donate</a>
          </li>
         <% if current_user %>
           <li>
             <a href="/sites" class="fa fa-globe"> Sites</a>
           </li>
           <li>
             <a class="fa fa-sign-out" rel="nofollow" data-method="delete" href="/logout">Log Out</a>
           </li>
         <% else %>
              <li>
                <a href="#login-modal" class="modal-trigger">Login</a>
            </li>
         <% end %>
        </ul>


     </div>
   </nav>
 </div>
